* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    margin: 1rem;
}

main {
    display: flex;
    justify-content: space-between;
}

.empty {
    width: 10rem;
    aspect-ratio: 1/1;
    border: 4px solid black;
    background-color: white;
    overflow: hidden;
}

.fill {
    width: calc(10rem - 8px);
    aspect-ratio: 1/1;
    background-image: url('./jsDrag.png');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.fill.hold {
    box-shadow: 50px 50px 50px 50px rgb(197, 49, 49);
}

.empty.over {
    background-color: rgba(0, 0, 0, 0.521);
}